#####################################
# Build
#####################################

build/
cmake-build*/
out/
bin/
lib/

#####################################
# CMake
#####################################

CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
compile_commands.json
CTestTestfile.cmake
install_manifest.txt

#####################################
# Object Files
#####################################

*.o
*.obj
*.lo
*.la
*.a
*.so
*.so.*
*.dll
*.exe

#####################################
# Debug
#####################################

*.dSYM/
*.gcda
*.gcno
*.gcov

#####################################
# VSCode
#####################################

.vscode/

#####################################
# CLion
#####################################

.idea/

#####################################
# Visual Studio
#####################################

.vs/

#####################################
# Logs
#####################################

*.log
logs/

#####################################
# Temporary
#####################################

*.tmp
*.swp
*.bak
*~

#####################################
# Yocto Build Output
#####################################

build-*/
tmp/
sstate-cache/
downloads/
cache/

#####################################
# QEMU
#####################################

*.qcow2
*.img
*.wic
*.ext4

#####################################
# Environment
#####################################

.env